force-app/main/default/flows/Create_Subscription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>asgLookupToSubcriptionRecord</name>
        <label>Assign Lookup to Subcription Record</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varSubscription.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numSubscriptionValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubscription.Subscription_Tier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pklSubscriptionTier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubscription.Subscription_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pklSubscriptionType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubscription.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pklSubscriptionValueCurrency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubscription.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lkupAccount.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubscription.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrCreateSubscriptionConfirmation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>chkProductSubscriptionAlreadyExists</name>
        <label>Check Product Subscription Already Exists</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>asgLookupToSubcriptionRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_already_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSubscribedProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrDuplicateProductError</targetReference>
            </connector>
            <label>Product already exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>chkRecordIdIsEmpty</name>
        <label>Check record ID is empty</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>scrCreateSubscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record ID is Empty</defaultConnectorLabel>
        <rules>
            <name>Record_Id_is_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccount</targetReference>
            </connector>
            <label>Record Id is Account</label>
        </rules>
        <rules>
            <name>Record_Id_is_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>01t</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getProduct</targetReference>
            </connector>
            <label>Record Id is Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>chkSubscriptionAlreadyExists</name>
        <label>Check Subscription Already Exists</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>crtSubscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Insert Subscription</defaultConnectorLabel>
        <rules>
            <name>Update_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSubscription.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>uptSubscription</targetReference>
            </connector>
            <label>Update Subscription</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pcsCurrency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Subscription__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsSubscriptionTier</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Subscription_Tier__c</picklistField>
        <picklistObject>Subscription__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsSubscriptionType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Subscription_Type__c</picklistField>
        <picklistObject>Subscription__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create Subscription {!$Flow.CurrentDateTime} {!recordId}</interviewLabel>
    <label>Create Subscription</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>crtSubscribedProduct</name>
        <label>Create Subscribed Product</label>
        <locationX>578</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>scrSuccess</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scrDMLFault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>lkupProduct.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>varSubscription.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SubscribedProduct__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>crtSubscription</name>
        <label>Create Subscription</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>crtSubscribedProduct</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scrDMLFault</targetReference>
        </faultConnector>
        <inputReference>varSubscription</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountSubscription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccountSubscription</name>
        <label>Get Account Subscription</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrCreateSubscription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Subscription__c</object>
        <outputReference>varSubscription</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subscription_Type__c</queriedFields>
        <queriedFields>Subscription_Tier__c</queriedFields>
        <queriedFields>Value__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getProduct</name>
        <label>getProduct</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrAccountLookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSubscribedProducts</name>
        <label>Get Subscribed Products</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>chkProductSubscriptionAlreadyExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSubscription.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lkupProduct.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SubscribedProduct__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>uptSubscription</name>
        <label>Update Subscription</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>crtSubscribedProduct</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrDMLFault</targetReference>
        </faultConnector>
        <inputReference>varSubscription</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>scrAccountLookup</name>
        <label>Account Lookup Screen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>scrCreateSubscription</targetReference>
        </connector>
        <fields>
            <name>lkpAccount1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Subscription__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrCreateSubscription</name>
        <label>Create Subscription Screen</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getSubscribedProducts</targetReference>
        </connector>
        <fields>
            <name>scrCreateSubscription_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrCreateSubscription_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lkupAccount</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Subscription__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>getAccount.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scrCreateSubscription_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrCreateSubscription_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pklSubscriptionType</name>
                    <choiceReferences>pcsSubscriptionType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varSubscription.Subscription_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Subscription Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrCreateSubscription_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pklSubscriptionTier</name>
                    <choiceReferences>pcsSubscriptionTier</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varSubscription.Subscription_Tier__c</elementReference>
                    </defaultValue>
                    <fieldText>Subscription Tier</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scrCreateSubscription_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrCreateSubscription_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>numSubscriptionValue</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>varSubscription.Value__c</elementReference>
                    </defaultValue>
                    <fieldText>Subscription Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(179, 0, 0);&quot;&gt;Value should be greater than 0&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!numSubscriptionValue} &gt; 0</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrCreateSubscription_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pklSubscriptionValueCurrency</name>
                    <choiceReferences>pcsCurrency</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varSubscription.CurrencyIsoCode</elementReference>
                    </defaultValue>
                    <fieldText>Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>varSubscription.Description__c</objectFieldReference>
        </fields>
        <fields>
            <name>lkupProduct</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Product__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>SubscribedProduct__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrCreateSubscriptionConfirmation</name>
        <label>Create Subscription Confirmation Screen</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>chkSubscriptionAlreadyExists</targetReference>
        </connector>
        <fields>
            <name>lblCreateSubscription</name>
            <fieldText>&lt;p&gt;{!tplSubscriptionSummary}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Create Subscription</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrDMLFault</name>
        <label>DML Fault Screen</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lblDMLFault</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(208, 0, 0);&quot;&gt;Error occurrect while creating subscription&lt;/span&gt;:&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!$Flow.FaultMessage}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrDuplicateProductError</name>
        <label>Duplicate Product Error Screen</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lblDuplicateProductError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(208, 0, 0);&quot;&gt;Subscription for {!lkupProduct.recordName} already exists&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrSuccess</name>
        <label>Success Screen</label>
        <locationX>578</locationX>
        <locationY>1730</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lblSuccess</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(7, 173, 28); font-size: 14px;&quot;&gt;Subscription created successfully&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>chkRecordIdIsEmpty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tplSubscriptionSummary</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Confirm Subscription&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account:&lt;/strong&gt; {!lkupAccount.recordName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Product: &lt;/strong&gt;{!lkupProduct.recordName}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Subscription Type: &lt;/strong&gt;{!varSubscription.Subscription_Type__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Subscription Tier: &lt;/strong&gt;{!varSubscription.Subscription_Tier__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Subscription Value: &lt;/strong&gt;{!varSubscription.CurrencyIsoCode} {!varSubscription.Value__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
</Flow>
