force-app/main/default/flows/Partner_Staging_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>Create Subscription &amp; Account Records. If failed, set the Processed flag to False</description>
    <environments>Default</environments>
    <formulas>
        <name>frmConcatenatedAddressLine</name>
        <dataType>String</dataType>
        <expression>{!$Record.AddressLine1__c} + &apos; &apos; + {!$Record.AddressLine2__c} + &apos; &apos; + {!$Record.AddressLine3__c}</expression>
    </formulas>
    <interviewLabel>Partner Staging - After Insert {!$Flow.CurrentDateTime} {!$Record.Id}</interviewLabel>
    <label>Partner Staging - After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>crtPersonAccount</name>
        <label>Create Person Account</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>crtSubscription</targetReference>
        </connector>
        <faultConnector>
            <targetReference>uptPartnerStagingAsUnprocessed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.CustomerFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.CustomerLastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getPersonAccountRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.PostCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>$Record.CountyState__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>frmConcatenatedAddressLine</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>crtSubscription</name>
        <label>Create Subscription</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>uptPartnerStagingAsUnprocessed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>crtPersonAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.Subscription_Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Tier__c</field>
            <value>
                <elementReference>$Record.SubscriptionTier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Type__c</field>
            <value>
                <elementReference>$Record.SubscriptionType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Value__c</field>
            <value>
                <elementReference>$Record.SubscriptionValue__c</elementReference>
            </value>
        </inputAssignments>
        <object>Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getPersonAccountRecordTypeId</name>
        <label>Get Person Account Record Type Id</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>crtPersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>uptPartnerStagingAsUnprocessed</name>
        <label>Update Partner Staging As Unprocessed</label>
        <locationX>704</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Processed__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessingErrorDetails__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getPersonAccountRecordTypeId</targetReference>
        </connector>
        <object>PartnerStaging__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
</Flow>
